@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Nunito';
  font-weight: 300;
}

img {
  max-width: unset;
}

code.hljs {
  box-shadow: 0 0 5px 0 #F2F2F2;
  background-color: #F6F6F6;
}

.safari-scale-wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

@media (min-width: 769px) {
  .text-container {
    overflow-wrap: break-word;
    max-width: 740px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .text-container {
    overflow-wrap: break-word;
    max-width: calc(100% - 2rem);
    margin: 0 1rem;
  }
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/nunito-300.woff') format('woff'),
       url('../../fonts/nunito-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/nunito-300-italic.woff') format('woff'),
       url('../../fonts/nunito-300-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/nunito-600.woff') format('woff'),
       url('../../fonts/nunito-600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/nunito-600-italic.woff') format('woff'),
       url('../../fonts/nunito-600-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
